
.price-list {
    margin-left: 64px;
}

.bgTennisPrice-list { 
    background-image: url("../../assets/bgTennisPrice.jpeg");
    height: 55vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.bgBowlingPrice-list { 
    background-image: url("../../assets/bgBowlingPrice.jpeg");
    height: 55vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.bgBilliardsPrice-list { 
    background-image: url("../../assets/bgBilliardsPrice.jpg");
    height: 55vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

.button-background {
    background-color: white;
}

.grey {
    background-color: white !important;
}

#basic-header {
    color: #2BBBAD;
}