@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

.tennis{
    width: 100hv;
    margin-top: 30px;    
}

.mesta{
    height: 50px;
    width: 100px;
    background: silver;
    margin: 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}

.bgTennis { 
    background-image: url("../assets/tennisBg.jpg");
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 64px;    
}

.heading {
    font-family: 'Inria Serif', serif;
    font-size: 30px;
    margin-right: 15px;
}

.count {
    font-family: 'Inria Serif', serif;
    font-size: 30px;
}

.p-date {
    margin-left: 100px;
    margin-top: 20px;
}

p {
    font-family: 'Inria Serif', serif;
    font-size: 30px;
    margin-top: 10px;
}

.timeSelect {
    margin-left: 100px;
}

.user-data {
    margin-left: 100px;
}